<!DOCTYPE html>
<html lang="en">
<head>
  <head charset="UTF-8">
  <title>uuid</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <h2>Search uuid for user information</h2>

    {{{body}}} <!-- renders index.hbs -->

  <script type="text/javascript" src="js/button.js"></script> <!-- script: where JavaScript is defined -->
  

</body>
</html>