<!DOCTYPE html>
<html lang="en">

<head>
  <head charset="UTF-8">
  <title>uuid</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <h2>Search uuid for user information</h2>
    {{{body}}}
  <script type="text/javascript" src="js/button.js"></script>
</body>

</html>