<head>
  <input class="input-box" type="text">
  <button class="search-button"> Search</button>

  <div class="user-details"></div>

<!--   <script>
    window.onload = () => {
      let heading_text = document.createTextNode("email");      
      let user = document.createElement("div");
      heading.appendChild(heading_text);
      document.body.appendChild();
    }
  </script> -->

</head>